*,
*::before,
*::after {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0%;
}
p {
  margin: 0%;
}
a {
  text-decoration: none;
}
ul {
  margin: 0%;
  padding-left: 0%;
  list-style: none;
}
img {
  display: block;
}
.header {
  border-bottom: 1px solid #e7e9fc;
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.header-nav {
  display: flex;
  align-items: center;
}
.page-nav {
  display: flex;
  gap: 40px;
}
.page-nav .link {
  padding: 24px 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.page-nav .link:hover,
.page-nav .link:focus {
  color: #404bbf;
}

body {
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  color: #434455;
}
.logo {
  margin-right: 76px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo-sec-part {
  margin-right: 76px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}
.address {
  font-style: normal;
}
.address-item {
  display: flex;
  gap: 40px;
}
.address-item-details {
  display: flex;
  gap: 40px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.address-details:hover,
.address-details:focus {
  color: #404bbf;
}
.main {
  padding: 188px 0;
  background-color: #2e2f42;
}
.main-logo {
  max-width: 496px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
}
.main-button {
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  display: block;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
}
.main-button:hover,
.main-button:focus {
  background-color: #404bbf;
}
.main-benefits {
  padding: 120px 0;
}
.header-container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.benefits {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.benefits-li {
  flex-basis: calc((100% - 3 * 24px) / 4);
}
.benefits-list {
  display: flex;
  gap: 24px;
}
.benefits-dscr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.our-team {
  padding: 120px 0;
  background-color: #f4f4fd;
}

.title {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}
.our-team-list {
  display: flex;
  gap: 24px;
}
.our-team-photo {
  flex-basis: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}
.team-member {
  padding: 32px 0;
}
.container-team {
  padding: 32px 0;
}
.our-team-mbr {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.out-team-job {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}
.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}
.container-portfolio {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.portfolio-list-item {
  width: calc((100% - 48px) / 3);
}
.portfolio-option {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.portfolio-app {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-sphere {
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.footer {
  padding: 100px 0;
  background-color: #2e2f42;
}
.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo-part {
  display: inline-block;
  margin-bottom: 16px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}
.footer-dscr {
  max-width: 264px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
